body {
    margin: 0 auto;
}

header {
    background-color: #1f2937; 
    color: #e5e7eb; 
    padding-bottom: 30px;
    
}

.menu {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: auto;
    height: auto;
    margin-bottom: 15px;
}

.menu h1 {
    margin-right: auto;
    font-size: 24px;
}

.header-items {
    margin: 0 10px;
    font-size: 18px;
}

.hero {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
}

.intro {
    width: 300px;
    min-width: 150px;
    flex: 1;
    justify-content: center;
    margin: auto;
    
}

.intro h1 {
    margin-top: 0;
    font-size: 36px;
}

.intro p {
    font-size: 18px;
}

#btn-intro {
    background-color: #3882f6;
    min-width: 100px;
    width: 130px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color:#e5e7eb;
}

#placeholder {
    width: 300px;
    height: 200px;
    min-width: 150px;
    margin: 10px;
    
}

main {
    text-align: center;
}

main h2 {
    font-size: 36px;
    font-style: extra-bold;
}

.container-boxes {
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    margin: auto;
    flex-wrap: wrap;

}

.box-text {
    width: 100px;
}

.box {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    border-radius: 5px;;
}

.reference {
    background-color: #e5e7eb;
}

.reference-text {
    font-style: light italic;
    font-size: 36px;
    color: #1f2937;
    width: 60%;
    padding: 20px 0;
    text-align: left;
    margin: auto;
}

#author {
    text-align: right;
    font-weight: bold;
}

.CtA-container {
    width: 60%;
    background-color:#3882f6;
    color: white;
    margin: 40px auto;
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container-text {
    text-align: left;
    margin: 10px;
    min-width: 200px;
    max-width: 300px;
}

.container-text h3 {
    margin-bottom: 0px;
}

.container-text p {
    margin-top: 5px;
}

#CtA {
    background-color:#3882f6;
    min-width: 100px;
    width: 130px;
    height: 30px;
    border: 1px solid;
    border-color:#e5e7eb;
    border-radius: 5px;
    color: white;
}

footer {
    background-color:#1f2937;
    height: 40px;
    color:#e5e7eb;
    text-align: center;
    padding: 10px
}
